<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423500605748-cv220keqvgbdb13i52nk19rco8rk8t1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423500605748-cv220keqvgbdb13i52nk19rco8rk8t1i</string>
	<key>API_KEY</key>
	<string>AIzaSyBgmwBeLQrh_PXNMMlI5jxbd6CUc_mA1do</string>
	<key>GCM_SENDER_ID</key>
	<string>423500605748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anacle.testpushnotif</string>
	<key>PROJECT_ID</key>
	<string>mypushnotificationapp-46797</string>
	<key>STORAGE_BUCKET</key>
	<string>mypushnotificationapp-46797.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423500605748:ios:2b174ecdcaac936ebd5d61</string>
</dict>
</plist>